<form>
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname"><br>
    Gender:<br>
    <input type="radio" name="male">&nbsp;
      <input type="radio" name="female"><br>
      subject:<br>
      <input type="checkbox" name="science">&nbsp;
        <input type="checkbox" name="Maths"><br>
  </form>


